.bg-dark{
    background-color:  #535d63 !important;
}
.contact-block, .w-25 .form-group{
    background-color: #3e4449;
}
.border-right{
    border-right: 1px solid #6d7b80 !important;
}
.container > .d-flex{
    height: 100vh;
}
.container > .d-flex > div{
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.message-block{
    height: 790px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #535a5f;
}
.contact-item{
    border-bottom: 1px solid #6d7b80 !important;
    cursor: pointer;
}